@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @Resource.LockedOut;
}

<hgroup>
    <h1 class="text-danger">@Resource.LockedOut.</h1>
    <h2 class="text-danger">@Resource.LockedOutMessage</h2>
</hgroup>
